*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #303032;
}

main{
     display: grid;
     grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
     grid-gap: 40px;
     padding: 60px 0; 

}

.cards {
    grid-column: 2/ span12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.card{
    grid-column-end: span 4;
    /* display: flex;
    flex-direction: column; */
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.card:hover{
    transform: translateY(-8px);
}

.card_image-container{
    width:100%;
}

.card_image-container img{
    width:100%;
}

@media only screen and (max-width: 1000px){
    .card{
        grid-column-end: span 6;
    }
    
}


@media only screen and (max-width: 700px){
    main {
        grid-gap: 20px;
    }

    .card{
        grid-column-end: span 12;
    }
    
}



@media only screen and (max-width: 500px){
    main {
        grid-gap: 20px;
        grid-template-columns: 10px repeat(6, 1fr) 10px;
    }

    .cards{
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
    }

    .card{
        grid-column-end: span 6;
    }
    
}
